<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>


  </head>

  <body>
    <nav class="light-green lighten-1">
      <div class="nav-wrapper">
        <%= link_to '生きているコントたち', root_path, class: "brand-logo" %>
      </div>
    </nav>
    <div class="row">
      <div class="col s3 sidebar z-depth-2">
        <div id="devise">
          <% if user_signed_in? %>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li>
                <%= simple_format(current_user.email, class: "user_name") %>
              </li>
              <li>
                <%= link_to 'Sign0ut', destroy_user_session_path, method: :delete, class: "btn side-btn light-green lighten-1" %>
              </li>
              <li>
                <%= link_to 'New', new_article_path, class: "btn side-btn light-green lighten-1" %>
              </li>
            </ul>
          <% else %>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li>
                <%= link_to 'SignIn', new_user_session_path, class: "btn side-btn light-green lighten-1" %>
              </li>
              <li>
                <%= link_to 'Sign0ut', destroy_user_session_path, method: :delete, class: "btn side-btn light-green lighten-1" %>
              </li>
              <li>
                <%= link_to 'New', new_article_path, class: "btn side-btn light-green lighten-1" %>
              </li>
            </ul>
          <% end %>
        </div>
        <div id="search">

        </div>
        <div id="ranking">

        </div>
      </div>
      <div class="col s9">
        <%= yield %>
      </div>
    </div>
    <footer class="light-green lighten-1">
      <p id="copyright">Copyright © 2013-2014 ○○○○ All Rights Reserved.</p>
    </footer>
  </body>
</html>
